<!--
Aquí se cambian los datos principales de la página de inicio.
-->
<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Reunión de Estudiantes de Astronomía<br></div>
                <div class="intro-lead-in">29 de julio al 1 de agosto de 2020</div>
                <div class="intro-lead-in">Planetario De Cozumel Cha'an Ka'an, Cozumel, Quintana Roo</div>
                <a href="#intro" class="page-scroll btn btn-xl">Presentación</a>
            </div>
        </div>
    </header>

    {% include 2017_data/intro.html %}
    {% include 2017_data/speakers.html %}
    {% include 2017_data/about.html %}
    {% include 2017_data/sponsors.html %}
    {% include 2016_data/contact.html %}
    {% include 2016_data/footer.html %}
    {% include 2017_data/speakers_info.html %}
    {% include 2016_data/js.html %}

    </body>
</html>
